@import url('https://fonts.google.com/specimen/Sora');
:root {
    --primary-color: #A39171;
    --secondary-color: #DCC9B6;
    --accent1-color: #727D71;
    --accent2-color: #6D4C3D;

    --heading-font: 'Rubik+Mono+One', serif;
    --paragraph-font: 'Sora', serif;

    --nav-background-color: #A39171;
    --nav-link-color: #DCC9B6;
    --nav-hover-link-color: #727D71;
    --nav-hover-background-color: #6D4C3D;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);  
    }
footer a {
    text-decoration: none;
}
body {
    max-width: 960px;
}
.hero {
    position: relative
}
.h1,
.article {
    top: 0;
    left: 0;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.h1,
.article {
    position: absolute;
}
.article img {
    float: right;
    margin: 10px
}
article {
    background-color: #DCC9B6;
    opacity: 1;
}